<!--/*projects.ejs created by Carlos Cruz-Claro 0N 2020-10-11
#300-902-439 */ -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
        
          <h3 class="section-subheading text-muted">These are my current ongoing projects, feel free to take a look.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#https://holdmyreceipts.com">
                    
                      <img class="img-fluid" src="public\Assets\images\04-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">HoldMyReceipts</div>
                      <div class="portfolio-caption-subheading text-muted">HoldMyReceipts stores your receipts on the cloud, never lose another receipt. </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="https://google.ca/drones">
                    
                      <img class="img-fluid" src="public\Assets\images\image_drone.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Project X</div>
                      <div class="portfolio-caption-subheading text-muted">Project X is a code name for the newest drone model coming out in late 2021. 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="https://google.ca/notes">
                    
                      <img class="img-fluid" src="public\Assets\06-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Project Note</div>
                      <div class="portfolio-caption-subheading text-muted">Project Note is a code name for a android application that allows you to make bullet photos, this application would be useful for students in college or unversity.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
   <!-- Bootstrap core JS-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
   <!-- Third party plugin JS-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</section>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>