<!-- /* aboutme. ejs created by Carlos Cruz-Claro 0N 2020-10-11
#300-902-439 */ -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
      <div class="text-center">
         
          <h3 class="section-subheading text-muted">Here you can find out more about me!</h3>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="/Assets/images/personal_picture.jpg" alt="" />
                  <h4>Carlos Cruz-Claro</h4>
                  <p class="text-muted">Hi! My name is Carlos Cruz-Claro and I am currently in my third year at Centennial College! I'm studying Software Engineering and I hope to one day fill a position at a big named technology company!</p>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/carlossclaroo/"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/carlossclaroo/"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div> 
      </div>
    
  </div>
</section>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>