<!-- *index.ejs created by Carlos Cruz-Claro 0N 2020-10-11
#300-902-439 -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
    <style>
    .img-container {
        text-align: center;
      }
    </style>
      <h5 class="display-5">Welcome!</h1>
      <p class="lead">Here you will find all information you need to know about me. Feel free to roam around the website using the navigation bar at the top of the page.</p>
      
      <hr class="my-5">
      <p>My mission statement: </p>
       <p>“To inspire positive change through teaching and coaching.” “To create opportunities for today's youth.” “To encourage, engage, and equip others to believe in the possibilities.” 
       “To positively impact the life of every person I meet.”</p>
      <a class="btn btn-primary btn-lg" href="aboutme" role="button">About me</a>
      <br>
      <br>
      <a class="btn btn-primary btn-lg" href="users" role="button">View Business Contact List</a>
      <div>
      <br>
      
       <hr class="my-5">
       <img class="img-container" src="/Assets/images/homepage_gif.gif" alt="" />
         <img class="img-container" src="/Assets/images/simple_api.gif" alt="" /></div>
    </div>

  </main>

  
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

